.container {
  display: flex;
  padding: 0 20px;
}
.content {
  padding: 0 30px;
}

.sidebar {
  flex-shrink: 0;
  flex-grow: 0;
  width: 300px;
}

.title {
  font-family: 'Noto Serif', serif;
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.image {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.image img {
  border-radius: 6px;
  width: 300px;
}

.description {
  line-height: 1.5;
  font-size: 16px;
  white-space: pre-wrap;
  max-width: 100%;
}

.ingredients {
  line-height: 1.5;
  font-size: 16px;
  white-space: pre-wrap;
}

.ingredientsTitle {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  margin: 15px 0;
}

.descriptionTitle {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  margin: 15px 0;
}

.summary {
  margin-bottom: 50px;
}

.tags {
  margin: 0 -5px;
}

.tag {
  display: inline-block;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 14px;
  margin: 0 3px;
  background-color: #b05045;
  color: #36454f;
}
